<h3>form <small><i>some people's favorite</i> way.</small></h3>
<p>just a simple form, names and e-mails are not required. also, this is the recommend way for death treats. (have some death treats? formspring is more anon. but this is faster, your choice.<br />

  <form>
      <div class="clearfix">
        <label for="textarea">Your message<strong>*</strong></label>
        <div class="input">
          <textarea class="xxlarge" id="textarea" name="textarea"></textarea>
          <span class="help-inline">This is the only required field.</span>
          <span class="help-block">
            Be clean and use dots, commas and breaks. 
          </span>
        </div>
      </div><!-- /clearfix -->
    <fieldset>
      <div class="clearfix">
        <label for="xlInput">Your name</label>
        <div class="input">
          <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <label for="xlInput">Your e-mail</label>
        <div class="input">
          <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
        </div>
      </div><!-- /clearfix -->
    </fieldset>
      <div class="actions">
        <button type="submit" class="btn primary">Send this sucker!</button>&nbsp;<button type="reset" class="btn">le reset</button>
      </div>
    </fieldset>
  </form>

<br />
</p>