{% extends "layout.html.twig" %}

{% block title %}{{ app.translator.trans('about_title') }} {% endblock %}
{% block is_about %} class="active"{% endblock %}
{% block content %}
    <div class="container">

<!-- About Batuhan Icoz
================================================== -->
<section id="about">
  <div class="page-header">
    <h1>About Me <small>Who am I, where I was born, how I grew up and so on.</small></h1>
  </div>

  <div class="row">
    <div class="span16 columns">
    <div class="alert-message warning">
      <p><strong>WARNING!</strong> This page is un-finished and may have outdated/wrong information.</p>
    </div>
	</div>
  </div><!-- /row -->
	<div class="row show-grid" title="Brief introduction">
		<div class="span-two-thirds column">
      <h3>A brief introduction</h3>
		<ul>
			<li>My full name is Fırat Batuhan İçöz,</li>
			<li>I was born on July 21, 1995 at <a href="http://maps.google.com/maps/place?cid=967334580752084145&amp;q=KONUR+CERRAH%C4%B0+TIP+MERKEZ%C4%B0,+Osmangazi,+Z%C3%BCbeyde+Han%C4%B1m+Caddesi,+Bursa,+Turkey&amp;hl=en&amp;ved=0CCcQ-gswAA&amp;sa=X&amp;ei=2I4-Tuv8BM-C_QaiqsH5DA&amp;sig2=FOmedKlpY6sdmDTEMqFUCw">Bursa Konur Hospital</a>, Bursa, Turkey to a Turkish family,</li>
			<li>I'm working as a junior developer at <a href="http://limk.com">Limk</a>,</li>
			<li>I'm studying on English language and English Literature at <a href="http://bursacumhuriyetlisesi.k12.tr/">Bursa Cumhuriyet Lisesi</a>[tr] as a high school junior,</li>
			<li>I'm one of the co-founders of SosyalRadyo.</li>
		</ul>
		</div>
  	<div class="span-one-third column">
	      <p>
	      	<img width="250px" src="http://static.batu.me/assets/img/avatar.jpg" />
	      </p>
			</div>
		</div><!-- /row -->
		
  <div class="row">
	<div class="span16 columns">

	There some many things I can mention about me and I want this page to include all that. Best way to do that (both for me and the readers) is to list stuff. So, that's why there are lots of lists here.

	<div class="row show-grid" title="One-third and two-thirds layout">
		<div class="span-two-thirds column">
			<ul>
				<li>I usually code with PHP but I'm learning Ruby (on Rails) and will be using it in the future</li>
				<li>I like/am good at frameworks, OOP and MVC</li>
				<li>I'm using CodeIgniter, a PHP Framework, for more than a year</li>
			</ul>
		</div>
    	<div class="span-one-third column">
			<h4>Goals</h4>
      			<ol>
					<li>Have million dollars</li>
					<li><a href="http://www.43things.com/things/view/3160914/give-a-ted-talk-and-inspire-millions">Give a TED speech and inspire millions.</a></li>
					<li>Move to UK or US</li>
					<li>Learn French</li>
					<li>Learn node.js (and use it in a project)</li>
					<li>Make love in Paris. (I was gonna do that, my ex-girlfriend and I agreed and then she left me. *sad face goes here*)</li>
					<li>Buy a car</li>
					<li>Buy a house</li>
      				</ol>
			</div>
  		</div><!-- /row -->

<h2>Some facts about me</h2>
  <div class="row">
    <div class="span8 columns">
      <ul>
		<li>I don’t believe in any religion, I’m Agnostic.</li>
		<li>I love Sci-Fi books, shows and movies more than any other kind.</li>
		<li>I'm bisexual, but all people I ever loved was female.</li>
		<li>I think boobs are SFW content.</li>
		<li>I believe there are aliens but I’m not sure if they are kidnapping people.</li>
		<li>I really like to wear suits (or suit-like outfits), i feel comfy in them, weird, right?</li>
		<li>Alcohol can't affect me easily, and if it's not too much, it actually helps me remember and think.</li>
		<li>I’m have that third screen on my desk with no reason.</li>
		<li>I can be selfish once in a while, and I'm fucking loving being that.</li>
		<li>One of my idols is a porn star.</li>
		<li>Another one is a fictional character.</li>
		<li>Body heat, intelligence and popular culture knowledge can turn me on easily.</li>
		<li>I’ve only got one good photo and that's photoshopped.</li>
		<li>I can listen a song 500 times without even started to be bored, or annoy.</li>
		<li>I don’t hate Justin Bieber. I admire her.</li>
		<li>I can’t read analog watches.</li>
		<li>I found my best ideas while having sex.</li>
		<li>I'm better than you.</li>
      </ul>
    </div>
    <div class="span8 columns">
      <ul>
		<li>I didn't have any real friends until I was like 12, so I grew as an asocial human being.</li>
		<li>I don't actually remember the model of my first computer but I remember it run <a href="http://en.wikipedia.org/wiki/MS-DOS">DOS</a>. (which is stupid, given that we are talking about 8-9 years ago and back then people already were using graphical interfaces.)</li>
		<li>I've opened my first website when I was 12. (no, when I mentioned I've had my first real friends when I was 12, I didn't mean from Internet, I was talking about IRL friends)</li>
		<li>First lesson I've ever failed, ironically, was English. (a year from that, I've become getting 100/100 points from exams, became top of my class.)</li>
		<li>I was raised as a free soul. My parents (by parents I mean my mom) always told me that I can say no, I'm free and can choose anything. She is a wise women.</li>
		<li>My parents (both of them) never kept anything from me. I always knew when our company was not making enough profit, or when we had debts. May seem like bad thing a child to know, but it's not. I knew exactly when is good to ask for new stuff, and when not.</li>
		<li>My first laptop was a second-hand Toshiba, my first brand-new laptop was an HP. Both running Windows XP.</li>
		<li>My first Mac was an <a href="http://www.apple.com/imac">iMac</a>, and I've only paid it 600TL. (400 USD, or something like that.) (now, this one is a long story, you can read it in Turkish, click here.)</li>
		<li>I didn't enjoy my first time. WORST. EVER.  (yes, I'm talking about the first time I've ever had sex.) (guess what, wasn't entirely my fault!)</li>
      </ul>
    </div>

  </div><!-- /row -->
	Another fact is I have <a href="http://en.wikipedia.org/wiki/Hemihypertrophy">hemihypertrophy</a> and that means one side (left) of my body is bigger than the other side of it. Annoying but harmless. I also have skin tumors called "<a href="http://en.wikipedia.org/wiki/Hemangioma">hemangioma</a>", again they're harmless but annoying, and it's only noticeable when I'm ill, angry or horny (WTF FSM?!). I think this is where I should also mention that sometimes I'm having sleep paralysis. <br /> And that’s enough facts for you.
	
	<h2>I like and suggest</h2>
	<p>I <strong>love</strong> TV series, more than movies and sometimes more than books. I think it's because their continuity.
	<br />
	Also, I love books more than movies because movies (and TV series too) are "limited", limited to directors imagination, crew, budget and stuff. Reading is more limitless.</p>
		<div class="row show-grid" title="I like & suggest">
    		<div class="span-one-third column">
				<h3>TV Series</h3>
					<ul>
						<li>Doctor Who</li>
						<li>Torchwood</li>
						<li>True Blood</li>
						<li>Chuck</li>
						<li>X-Files</li>
						<li>Arrested Development</li>
						<li>The I.T. Crowd</li>
						<li>House M.D.</li>
						<li>The Big Bang Theory</li>
						<li>How I Met Your Mother</li>
						<li>Stargate series (especially SG-1)</li>
						<li>Supernatural</li>
						<li>Skins UK</li>
						<li>Misfits</li>
						<li>Suits</li>
						<li>White Collar</li>
						<li>Primeval</li>
					</ul>
			</div>
    		<div class="span-one-third column">
				<h3>Movies</h3>
					<ul>
						<li>Stargate</li>
						<li>Star Wars</li>
						<li>Minority Report (2002)</li>
						<li>Limitless</li>
						<li>[TR] Kaybedenler Klubü</li>
					</ul>
			</div>
			<div class="span-one-third column">
				<h3>Books</h3>
					<i>Requires translation</i>
					<!-- ul> 
						<li>Sil Baştan by <i>Ken Grimwood</i></li>
						<li>Kayboluş by <i>Ken Grimwood</i></li>
						<li>İroni by <i>Max Barry</i></li>
						<li>Empati by <i>Adem Fawer</i></li>
						<li>Olasılıksız by <i>Adem Fawer</i></li>
					</ul -->
			</div>
  		</div><!-- /row -->

	<p>Now you know it all, happy?</p><p>All is not enough? Want to know anything else? Just <a href="http://batu.me/ask">ask me</a> on Formspring or <a href="http://batuhanicoz.com/contact">contact me</a>.</p>
	
	<h6><strong>Last updated:</strong> {{ last_updated }}</h6>
	</div>
  </div>
</section>

    </div> <!-- /container -->

{% endblock %}