{% extends "layout.html.twig" %}
{% block is_homepage %} class="active"{% endblock %}

{% block content %}
    <div class="container">

      <div class="hero-unit">
        <h1>{{ app.translator.trans('homepage_top_hello') }}</h1>
        <p>&nbsp;{{ app.translator.trans('homepage_tagline') }}
		<br />
		&nbsp;{{ app.translator.trans('homepage_currently') }}</p> 
		<div class="clearfix"></div>
        <p style="text-decoration:none">
       	<a href="http://www.facebook.com/batuhanicoz">
    		<img src="http://static.batu.me/assets/img/icons/facebook-32x32.png" border="0" alt="Facebook" />
       	</a>
        <a href="https://github.com/batuhanicoz">
        	<img src="http://static.batu.me/assets/img/icons/github-32x32.png" border="0" alt="Github" />
        </a>
		<a href="http://shareables.me">
			<img src="http://static.batu.me/assets/img/icons/tumblr-32x32.png" border="0" alt="Tumblr" />
		</a>
  		<a href="http://foursquare.com/batuhanicoz">
  			<img src="http://static.batu.me/assets/img/icons/foursquare-32x32.png" border="0" alt="Foursquare" />
  		</a>
		<a href="http://www.linkedin.com/in/batuhanicoz">
			<img src="http://static.batu.me/assets/img/icons/linkedin-32x32.png" border="0" alt="LinkedIn" />
		</a>
		<a href="https://plus.google.com/107704817814341858380">
			<img src="http://static.batu.me/assets/img/icons/google+-32x32.png" border="0" alt="Google+" />
		</a>
		<a href="http://last.fm/user/batuhanicoz">
			<img src="http://static.batu.me/assets/img/icons/lastfm-32x32.png" border="0" alt="Last.fm" />
		</a>
		<a href="http://www.formspring.me/batuhanicoz">
			<img src="http://static.batu.me/assets/img/icons/formspring-32x32.png" border="0" alt="Formspring" />
		</a>
		<a href="http://twitter.com/batuhanicoz" class="twitter-follow-button" data-show-count="false">Follow @batuhanicoz</a>
		</p>
		<p>
			<a class="btn primary large" href="http://{{ app.domain }}/{{ app.translator.trans('route_about') }}">{{ app.translator.trans('l_about_me') }}</a>
			<!-- a class="btn primary large">{{ app.translator.trans('l_my_projects') }}</a -->
			<a class="btn primary large" href="http://{{ app.domain }}/{{ app.translator.trans('route_contact') }}">{{ app.translator.trans('l_contact_me') }}</a>
		</p>
      </div>
    </div> <!-- /container -->

{% endblock %}