<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Fırat Batuhan İçöz</title>
    <meta name="description" content="{% block desc %}{{ app.translator.trans('desc') }}{% endblock %} - (c) Batuhan İçöz">
    <meta name="author" content="Fırat Batuhan İçöz">
	<meta property="fb:app_id" content="250987194917493" />
	<meta property="fb:admins" content="1234684607" />
	<meta property="og:title" content="{% block og_title %}{% endblock %}Fırat Batuhan İçöz" />
	<meta property="og:type" content="{% block og_type %}profile{% endblock %}" />
	<meta property="og:image" content="http://static.batu.me/assets/img/avatar.jpg" />
	<meta property="og:url" content="http://batuhanicoz.com{% if app.locale == "tr" %}.tr{% endif %}" />

	<meta property="og:first_name" content="Batuhan" />
	<meta property="og:last_name" content="İçöz" />
	<meta property="og:username" content="batuhanicoz" />
	<meta property="og:gender" content="male" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="http://static.batu.me/assets/css/bootstrap-1.3.0.min.css" rel="stylesheet">
	<style>
	body { padding-top:30px; }
	</style>

	{% block add_to_header %}{% endblock %}

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-11142497-2']);
	  _gaq.push(['_setDomainName', 'none']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </head>

  <body>
	
	{% if app.domain == "batuhanicoz.com.tr" %}
	<div class="container">
		<section id="language_alert">
	      <div class="alert-message block-message info">
	        <p><strong>Merhaba,</strong> henüz sitemin Türkçe çevirisini tamamlayamadığımdan bazı kısımları İngilizce olarak görebilirsiniz.</p>
	      </div>
		</section>
    </div>
	{% endif %}
		
	<!--
	{% if app.bi_browser_lang == "tr-TR" %}
	{% if app.domain == "batuhanicoz.com" %}
	<div class="container">
		<section id="language_alert">
	      <div class="alert-message block-message info">
	        <p><strong>Merhaba!</strong> Tarayıcı dilinizin Türkçe olduğunu farkettim, bu sitenin Türkçe versiyonu da olduğunu hatırlatayım dedim.</p>
	        <div class="alert-actions">
	          <a class="btn small" href="http://batuhanicoz.com.tr/">Türkçe siteye git</a>
	        </div>
	      </div>
		</section>
    </div>
	{% endif %}
	{% endif %}
	-->
	
      {% block content %}{% endblock %}
      
    <div class="container hideatfirst">
    	<footer>
        	<div class="row show-grid">
			    <div class="span-two-thirds column">
			    	<a href="http://{{ app.domain }}/{{ app.translator.trans('route_legal') }}">{{ app.translator.trans('l_legal') }}</a>
			    </div>
	 			<div class="span-one-third column" align="right">
	 				<p>&copy; 2011 Fırat Batuhan İçöz</p>
	 			</div>
		  </div><!-- /row -->
		</footer>
    </div>
	<div id="fb-root"></div>
    <!-- Le javascript -->
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) {return;}
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=250987194917493";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<script type="text/javascript">
	
		var language = "{{ app.locale }}";
		var bootstrap = 0;
		var load_topbar_css = 0;
		
		(function() {
		    function async_load(){
		        var s = document.createElement('script');
		        s.type = 'text/javascript';
		        s.async = true;
		        s.src = 'http://static.batu.me/assets/javascript/MakeItBatuhans.js';
		        var x = document.getElementsByTagName('script')[0];
		        x.parentNode.insertBefore(s, x);
		    }
		    if (window.attachEvent)
		        window.attachEvent('onload', async_load);
		    else
		        window.addEventListener('load', async_load, false);
		})();
				
	</script>
	
	{% block add_to_footer %}{% endblock %}
  </body>
</html>
