<!DOCTYPE html>
<html>
  <head>
    <title>Batuhan's Social Tools</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <style>
		body {
		  padding-top: 50px; 
		}

		.container {
		  width: 600px;
		}

		.content {
		  background-color: #fff;
		  padding: 20px;
		  margin: 0 -20px; 
		  -webkit-border-radius: 0 0 6px 6px;
		     -moz-border-radius: 0 0 6px 6px;
		          border-radius: 0 0 6px 6px;
		  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
		     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
		          box-shadow: 0 1px 2px rgba(0,0,0,.15);
		}
		.modal {
		  position: absolute;
		}
	</style>
  </head>
  
  <body>
	
	<a href="http://github.com/batuhanicoz"><img style="position: absolute; top: 30px; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
		
	<div class="topbar">
      <div class="fill">
        <div class="container">
		  <ul class="nav">
			<li class="dropdown" data-dropdown="dropdown" >
			    <a href="#" class="dropdown-toggle">Batuhan's</a>
			    <ul class="dropdown-menu">
			      <li><a href="http://batu.me/1">Homepage</a></li>
			      <li><a href="http://batu.me">Blog</a></li>
			      <li><a href="http://github.com/batuhanicoz">GitHub</a></li>
			      <li><a href="http://twitter.com/batuhanicoz">Twitter</a></li>
			      <li><a href="http://fb.com/batuhanicoz">Facebook</a></li>
			      <li><a href="http://batu.me/about">About page</a></li>
			      <li><a href="http://batu.me/contact">Contact page</a></li>
			    </ul>
			  </li>
		  </ul>
		  <h3><a href="#" class="active">Social Tools</a></h3>
        </div>
      </div>
    </div>

	<div class="container">
		
		<section id="content">

		  <div class="row">
		  	<div class="span11">
				<div class="alert-message info">
			        <p><strong>Keep in mind</strong> that most of the applications here is still in development. They may break.</p>
			    </div>
				<div class="page-header">
		        	<h1>Batuhan's Social Tools</h1>
				</div>
				<div class="row">
					<div class="span6">
						<p>
							Here a list of my tools, all open-source, all awesome.
						</p>
					</div>
					<div class="span4">
						<p>
							<iframe src="http://githubbadge.appspot.com/badge/batuhanicoz" style="border: 0;height: 150px;width: 200px;overflow: hidden"></iframe>
						</p>
					</div>	
				</div>
				<div class="row">			
				    <div class="span5">
				    	<h3>Twitter Reset Follows</h3>
						<p>
							This tools resets your follows on your Twitter account. This means after using this tool you'll unfollow everyone you follow automatically. <strong>After you click the button below there there will be no confirmation and no undoing.</strong> <i>if you've redirected back to here after login, please try again.</i>
						</p>
				    </div>
				    <div class="span5">
				    	<h3>Twitter Avatar API</h3>
						<p>
							This tools is an API for developers for getting Twitter avatars for a user easily. 
						</p>
				    </div>
				</div><!-- /row -->
				<div class="row">
				    <div class="span5">
						<p>
							<a href="https://twtools.herokuapp.com/reset/follows" class="btn small danger">Reset follows</a>
							<a href="https://github.com/batuhanicoz/twtools" class="btn small">GitHub</a>
						</p>
				    </div>
				    <div class="span5">
						<p>
							<a href="http://twivatar.herokuapp.com" class="btn small">Tool website</a>
							<a href="https://github.com/batuhanicoz/twivatar" class="btn small">GitHub</a>
						</p>
				    </div>
				</div><!-- /row -->
				
				<div class="row">

				    <div class="span5">
				    	<h3>Radyo</h3>
						<p>
							Radyo is a JavaScript player which plays similar songs one after another using Last.fm's API and YouTube.
						</p>
				    </div>
				    <div class="span5">
				    	<h3>FBIDFinder.com</h3>
						<p>
							Find your or your pages Facebook ID.
						</p>
				    </div>
				</div><!-- /row -->
				<div class="row">
					<div class="span5">
						<p>
							<a href="http://static.batu.me/radyo" class="btn small">Radyo Website</a>
							<a href="https://github.com/batuhanicoz/radyo" class="btn small">GitHub</a>
						</p>
				    </div>
				    <div class="span5">
						<p>
							<a href="http://fbidfinder.com/" class="btn small">FBIDFinder.com</a>
							<a href="https://github.com/batuhanicoz/fbidfinder-com" class="btn small">GitHub</a>
						</p>
				    </div>
				</div><!-- /row -->

				</div>
		</div>
		
		
		</section>

		
	    <footer class="footer">
	      <div class="container">
	        <p class="pull-right">© <a href="http://batu.me/1">batuhan içöz</a></p>
	        <p>
				<a href="http://batuhanicoz.com/legalinformations">Legal informations</a></li> - <a href="https://github.com/batuhanicoz">Batuhan on Github</a> - <a href="http://batu.me/contact">Contact</a> 
	        </p>
			<p>
				<a href="https://twitter.com/batuhanicoz" class="twitter-follow-button" data-show-count="false">Follow @batuhanicoz</a>
			</p>
	      </div>
	    </footer>
		
    </div>
	
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://static.batu.me/assets/javascript/bootstrap/bootstrap-dropdown.js"></script>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-11142497-2']);
	  _gaq.push(['_setDomainName', 'none']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>